.webshop {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.producten {
    display: block;
    list-style-type: none;
    color: black;
}

.titel {
    display: block;
    font-size: 5em;
    font-weight: bold;
}

.filters {
    margin-left: 2em;
}

/* Voeg dit toe aan je CSS-bestand (bijv. in een apart .css bestand of inline) */
.filter-container {
    float: left;
    width: 25%;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
}

.product-list {
    float: right;
    width: 70%;
    padding: 10px;
}

.filter-form {
    display: flex;
    flex-direction: column;
}

.filter-item {
    margin-bottom: 15px;
}

.btn-primary {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

ul.producten {
    list-style-type: none;
    padding: 0;
}

ul.producten li {
    margin-bottom: 20px;
    border: 2px solid black;
    padding: 1em;
    border-radius: 1em;
    max-width: 110%;
}

ul.producten img {
    max-width: 100px;
    height: auto;
}

.alles {
    display: flex;
    gap: 10em;
    padding-right: 30px;
}

.filt {
    border: solid 2px black;
    border-radius: 2em;
    background-color: #f2f2f2;
}
